body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.signup-container {
    background: #04194b;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}



.form-group {
    margin-bottom: 1rem;
    text-align: left;
}

.form-group label{
    color: white;
}


label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
    font-weight: 600;
}


input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

#password,#confirm-password{
    width: 90%;
}

input[type="password"]:focus {
    border-color: #6a11cb;
    outline: none;
}

.password-match {
    color: green;
    font-size: 0.875rem;
    margin-top: 0.25rem;
    display: none;
}

.password-mismatch {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
    display: none;
}

button {
    width: 40%;
    padding: 0.75rem;
    background: #6a11cb;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #2575fc;
}

button:disabled {
    background: #ccc;
    cursor: not-allowed;
}
